name: "SSTP VPNClient"
version: "1.0.0"
slug: "sstp_client"
description: "SSTP VPN client for Home Assistant"
arch:
  - aarch64
  - amd64
startup: services
boot: auto
init: false
host_network: true

privileged:
  - NET_ADMIN
devices:
  - /dev/ppp

options:
  server: ""
  username: ""
  password: ""
schema:
  server: str
  username: str
  password: password
